@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik+Mono+One&display=swap');

.header {
    background: #1d473b;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: large;
    text-shadow: 
    -1px -1px 0 #ffffff,  
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff; /* Adjust the offset values as needed */
    
    padding: 10px;
}



body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'IBM Plex Mono', sans-serif;
    
  }